---
layout: default
title: Home
---

<h1>Les Bons Verres à Caen</h1>

<div>{% include "circle.svg" %}</div>

<section class="carosel">
  {%- for card in collections.cards -%}
  <div class="card">
    <h2 id="card-hero-txt">{{ card.data.title }}</h2>
    <p>{{ card.templateContent | safe }}</p>
  </div>
  {%- endfor -%}
</section>
