---
layout: default
title: Home
---

<section id="loading">
  <header>
    <h1>La Carte Gourmande</h1>
    <h2>10 adresses pour se régaler à Caen</h2>
  </header>
  {% include "hero-image.svg" %}
</section>

<div aria-hidden="true" id="container">{% include "map.svg" %}</div>

<section class="carosel">
  {%- for card in collections.cards -%}
  <div class="card" id="{{ card.data.cssId }}-card">
    <h2 id="card-hero-txt">{{ card.data.title }}</h2>
    <p>{{ card.templateContent | safe }}</p>
  </div>
  {%- endfor -%}
</section>
