---
layout: default
title: Home
---

<h1>Les Bons Verres à Caen</h1>
<iframe src="/assets/circle.svg" frameborder="0"
  >{% include "circle.svg" %}</iframe
>

<section class="carosel">
  {%- for card in collections.cards -%}
  <div class="card" id="{{ card.data.cssId }}-card">
    <h2 id="card-hero-txt">{{ card.data.title }}</h2>
    <p>{{ card.templateContent | safe }}</p>
  </div>
  {%- endfor -%}
</section>
