:root {
  --main-theme: #f7d1d1;
  --main-theme-transparent-dark: rgb(178 118 129 / 63%);
  --border-radius: 0.3em;
  --secondary-theme: #fffafa;
  --tertiary-theme: #f15e26;
  --tertiary-theme-dark: #cd5b2f;
  --app-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
  font-size: 14px;
}

html,
body {
  margin: 0;
  height: 100%;
}

main {
  background-color: var(--secondary-theme);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-wrapper {
  background-color: var(--tertiary-theme);
  color: white;
  box-shadow: 1px 3px 14px var(--main-theme-transparent-dark);
  width: 100vw;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.9em;
  > * {
    margin: 0;
  }

  svg {
    height: 2.5em;
    fill: white;
  }
}

.hero-wrapper:hover {
  cursor: pointer;
}

.hero-nav {
  display: flex;
  filter: drop-shadow(0.07em 0.12em 0.04em gray);
}

svg {
  filter: drop-shadow(0.5px 1.8px 1.3px #d8b08d);
}

// hamburger styles

#menu_checkbox {
  display: none;
}

label {
  margin: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50px;
  cursor: pointer;
}

// label:before {
//   content: "";
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: #f44336;
//   transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
// }

label div {
  position: relative;
  top: 0;
  height: 7px;
  background-color: #fff;
  margin-bottom: 6px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
  border-radius: 2px;
}

label div:last-child {
  margin-bottom: 0;
  transform-origin: 40px;
}

label div:first-child {
  transform-origin: 0;
}

label div:nth-child(2) {
  right: 0;
  width: 40px;
}

// #menu_checkbox:checked + label:before {
//   background-color: #4caf50;
// }

#menu_checkbox:checked + label div:first-child {
  top: -6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:last-child {
  top: 6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:nth-child(2) {
  width: 85px;
  top: 0;
  right: 13px;
  transform: rotateZ(-45deg);
}

#container {
  height: 100%;
  width: 100%;
  flex: 1;
}

.active-POI {
  animation: bounce 1s ease infinite alternate;
  filter: drop-shadow(1px 1px 1px rgba(42, 42, 42, 0.4));
}

@keyframes bounce {
  from {
    transform: translateY(0);
    fill: #f15e26;
    filter: drop-shadow(3px 3px 3px rgba(42, 42, 42, 0.4));
  }
  to {
    transform: translateY(0.3em);
    fill: rgb(200, 77, 97);
    filter: drop-shadow(1px 1px 1px rgba(42, 42, 42, 0.4));
  }
}

.carousel {
  width: 100vw;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.active-card .card-title {
  color: var(--tertiary-theme);
}

.card.selected-card {
  position: absolute;
  bottom: 1em;
  left: 2vw;
  height: calc(var(--app-height) - 2em);
  margin: 0;
  box-sizing: border-box;
  width: 96vw;
  max-width: fit-content;
  z-index: 1;
}

.circle {
  border: 2px solid var(--tertiary-theme);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 1;
  overflow: hidden;
  font-size: 0.7em;
  margin-right: 0.2em;
  height: fit-content;
}

.active-card .circle {
  background: var(--tertiary-theme);
  border: 2px solid transparent;
  color: white;
}

.card {
  padding: 1em;
  margin: 0.5em;
  background: white;
  border-radius: var(--border-radius);
  flex: 1 1 0px;
  height: 35vh;
  overflow: hidden;
  position: relative;
  min-width: 60vw;
  max-width: 40vw;
  box-shadow: 2px 3px 5px 2px rgb(61 61 61 / 60%);
  transition: all ease 0.4s;
  .card-title-wrapper {
    display: flex;
    margin: 0;
  }
  .card-title {
    display: flex;
    align-items: center;
    font-size: 1em;
  }
  .card-number {
    padding: 50%;
    margin: -3em -50% 0;
    position: relative;
    top: 1.5em;
    border: 1em solid transparent;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    height: 2em;
    margin: 0.5em;
  }
  .restaurant-preview {
    width: -webkit-fill-available;
    height: 8em;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-top: 0.5em;
  }
}

.active-card {
  box-shadow: 10px 11px 14px 0px rgb(0 0 0 / 60%),
    2px 3px 5px 2px rgb(61 61 61 / 60%);
}
.card:hover {
  cursor: pointer;
}

/* white fade rising from bottom of cards */
.card:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2.6em;
  /* compensating for card padding */
  margin: 0 -1em;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0.588) 50%,
    rgb(255 255 255) 100%
  );
}

.card-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn {
  text-decoration: none;
  margin: 1em 0.7em;
  background-color: var(--tertiary-theme);
  color: white;
  padding: 0.3em 0.5em;
  border-radius: var(--border-radius);
  filter: drop-shadow(2px 3px 3px grey);
  border: none;
  transition: all 0.2s ease;
  font-size: 1.3em;
}

.btn:hover {
  filter: drop-shadow(1px 1px 1px grey);
  background-color: var(--tertiary-theme-dark);
  cursor: pointer;
}

.svg-link {
  text-decoration: none;
}

.leftmost-card {
  background-color: rgb(200, 77, 97);
}

header {
  text-align: center;
  position: relative;
}

.loading-header h1 {
  font-size: 4em;
  color: var(--main-theme);
  filter: drop-shadow(0.5px 1.8px 1.3px #9d1d33);
}

header h2 {
  text-decoration: underline var(--main-theme) 0.15em;
  -webkit-text-decoration-line: underline; /* Safari */
  -webkit-text-decoration-color: var(--main-theme);
  margin: 0;
}

#loading {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 2;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden {
  opacity: 0;
  transform: translateY(-100vh);
}

.actively-moving .svg-pan-zoom_viewport {
  transition: transform 0.5s ease;
}

dialog {
  height: 100vh;
  width: 100vw;
  border: none;
  transform: translateY(-100vh);
  opacity: 0;
  transition: all ease 0.5s;
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

dialog::backdrop {
  background: rgba(255, 255, 255, 0);
}

.contributor {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 0.5em;
  margin: 1em 0;
  h2 {
    margin: 0;
  }
  .profile-picture {
    grid-column: 1;
    grid-row: 1/5;
    height: 9em;
    width: auto;
    border-radius: 50%;
  }
  p {
    margin: 0;
    margin-bottom: 2em;
  }
  a {
    width: fit-content;
  }
}

.active-dialog {
  transform: translateY(0);
  opacity: 1;
}

.active-dialog::backdrop {
  background: rgb(75 59 40 / 63%);
}

#close-dialog {
  display: flex;
  margin: 1em;
  padding: 0.6em;
  font-size: 1.1em;
}

@media screen and (min-width: 900px) {
  :root {
    font-size: 17px;
  }
  .loading-header h1 {
    width: fit-content;
    border-bottom-right-radius: var(--border-radius);
  }
  .card {
    height: 15vh;
  }

  dialog {
    height: 80vh;
    width: 90vw;
    max-width: 1000px;
  }
}

// change background color to match topmost element for more immersive experience on mobiles with a notch
/* animate body's background color to change from blue to beige */
body,
html {
  background-color: var(--tertiary-theme);
  transition: background-color 0.1s ease;
}

// looped function to animate in the paths of the SVG piece by piece
// start all children of loading page as out of place
#loading svg path,
.loading-header * {
  opacity: 0;
  transform: translateY(-5em);
}

// add animation to all SVG paths
@for $i from 1 through 250 {
  // only for paths which are sequentially even children of the SVG
  @if $i % 2 == 0 {
    #loading svg path:nth-child(#{$i}) {
      animation: animateIn ease forwards;
      animation-delay: #{$i * 0.08 + 0.5}s;
      animation-duration: 0.2s;
      transform-origin: center;
    }
  }
  #loading svg path:nth-child(#{$i}) {
    animation: animateIn ease forwards;
    animation-delay: #{$i * 0.04 +0.5}s;
    animation-duration: 0.2s;
    transform-origin: center;
  }
}

@for $i from 1 through 2 {
  .loading-header *:nth-child(#{$i}) {
    animation: animateIn 1.5s ease forwards;
    animation-delay: #{$i * 0.3}s;
    transform-origin: center;
  }
}

@keyframes animateIn {
  0% {
    transform: translateY(-5em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
