@font-face {
  font-family: "WorkSansRegular";
  font-display: swap;
  src: url("/assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chaney";
  font-display: swap;
  src: url("/assets/fonts/CHANEY-Regular.otf") format("opentype");
}

:root {
  --main-theme: #f7d1d1;
  --main-theme-dark: maroon;
  --main-theme-transparent-dark: rgb(178 118 129 / 63%);
  --border-radius: 0.3em;
  --secondary-theme: #fffafa;
  --tertiary-theme: #f15e26;
  --button-theme: #62c089;
  --button-theme-dark: #328856;
  --off-black: rgb(61, 61, 61);
  --app-height: 100%;
  --button-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  font-family: "WorkSansRegular", Arial, Helvetica, sans-serif;
  color: rgb(61, 61, 61);
  font-size: 14px;
}

html,
body {
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-wrapper {
  width: 100vw;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.9em;
  z-index: 1;
  background-color: #fffafab7;
  > * {
    margin: 0;
  }
  svg {
    height: 2.5em;
    fill: white;
  }
  .hero-title {
    font-size: 1.6em;
    color: var(--tertiary-theme);
    font-family: "Chaney", Arial, Helvetica, sans-serif;
  }
}

.hero-wrapper:hover {
  cursor: pointer;
}

.hero-nav {
  display: flex;
  filter: drop-shadow(0.07em 0.12em 0.04em gray);
}

// Causing performance problem with flickering. Should exist by default via editing core SVG file.
// svg {
//   filter: drop-shadow(0.5px 1px 1px #d8b08d);
// }

// hamburger styles

#menu_checkbox {
  display: none;
}

label {
  margin: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 40px;
  cursor: pointer;

  div {
    position: relative;
    top: 0;
    height: 4px;
    background-color: #fff;
    margin-bottom: 6px;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
      0.3s ease right;
    border-radius: 2px;
  }

  * {
    box-shadow: 1px 2px 4px 0px #000000c7;
  }
}

label div:last-child {
  margin-bottom: 0;
  transform-origin: 40px;
  right: 0;
}

label div:first-child {
  transform-origin: 0;
  right: 0;
}

label div:nth-child(2) {
  width: 30px;
}

#menu_checkbox:checked + label div:first-child {
  top: -6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:last-child {
  top: 6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:nth-child(2) {
  width: 85px;
  top: 0;
  right: 13px;
  transform: rotateZ(-45deg);
}

#container {
  flex: 1;
  min-height: 0;
  svg {
    width: 100%;
    height: 100%;
  }
}

.POI {
  fill: rgba(116, 108, 108, 0.49);
}

.active-POI {
  fill: var(--tertiary-theme);
}

.carousel {
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 29vh;
  gap: 1em;
  padding: 1em;
  overflow-x: scroll;
}

.active-card .card-title {
  text-decoration: 0.2em underline;
  text-decoration-color: var(--tertiary-theme);
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-color: var(--tertiary-theme);
  -webkit-text-decoration-thickness: 0.2em;
}

.card.selected-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2em;
  box-sizing: border-box;
  z-index: 2;
  background-color: var(--secondary-theme);
  .restaurant-preview {
    height: 12em;
  }
}

.card {
  flex: 1 1 0px;
  overflow: hidden;
  position: relative;
  min-width: 15em;
  .card-title-wrapper {
    display: flex;
    margin: 0;
  }
  .card-title {
    display: flex;
    align-items: center;
    font-size: 0.9em;
  }
  .card-number {
    border-radius: 50%;
    height: 1.4em;
    margin-right: 0.2em;
    aspect-ratio: 1/1;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    font-family: "Chaney";
    font-size: 0.9em;
  }
  .card-number.cart {
    background: transparent;
    margin: 0;
    aspect-ratio: inherit;
  }
  .card-number.cart svg {
    height: 1.7em;
  }
  img {
    height: 6em;
  }
  .restaurant-preview {
    width: -webkit-fill-available;
    height: 7em;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-top: 0.5em;
  }
  .contact-links {
    display: flex;
    justify-content: space-between;
  }
  .contact-links > * {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
  }
  .tel {
    fill: cadetblue;
  }
}

.active-card .card-number {
  background: var(--tertiary-theme);
  color: white;
}

.card:hover {
  cursor: pointer;
}

/* white fade rising from bottom of cards */
.read-more {
  position: absolute;
  border: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  width: 100%;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9vh;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255 255 255 / 93%) 50%,
    rgba(255, 255, 255, 0.9) 100%
  );
  .card-btn {
    bottom: 0;
    z-index: 1;
    margin: 0;
    border: none;
    transition: all 0.2s ease;
    width: 100%;
  }
}
.selected-card button.read-more {
  position: relative;
  width: 100%;
  margin: auto;
  height: auto;
  background: transparent;
}

.read-more:hover {
  cursor: pointer;
}

.btn {
  text-decoration: none;
  margin: 1em 0.7em;
  background-color: var(--button-theme);
  color: white;
  padding: 0.4em 0.6em;
  border-radius: var(--border-radius);
  filter: drop-shadow(2px 3px 3px grey);
  border: none;
  transition: all 0.2s ease;
  font-size: 1.3em;
  text-shadow: 0.5px 0.5px 4px var(--button-theme-dark);
}

.btn:hover {
  filter: drop-shadow(1px 1px 1px grey);
  background-color: var(--button-theme-dark);
  cursor: pointer;
}

.svg-link {
  text-decoration: none;
}

.leftmost-card {
  background-color: rgb(200, 77, 97);
}

header {
  text-align: center;
  position: relative;
}

.loading-header h1 {
  font-size: 4em;
  color: var(--main-theme);
  filter: drop-shadow(0.5px 1.8px 1.3px #9d1d33);
}

header h2 {
  text-decoration: underline var(--main-theme) 0.15em;
  -webkit-text-decoration-line: underline; /* Safari */
  -webkit-text-decoration-color: var(--main-theme);
  margin: 0;
}

.hidden {
  opacity: 0;
  transform: translateY(-100vh);
}

.actively-moving .svg-pan-zoom_viewport {
  transition: transform 0.5s ease;
}

dialog {
  height: 100vh;
  width: 100vw;
  border: none;
  transform: translateY(-100vh);
  opacity: 0;
  transition: all ease 0.5s;
  header {
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    color: var(--tertiary-theme);
  }
}

dialog::backdrop {
  background: rgba(255, 255, 255, 0);
}

.contributor {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 0.5em;
  margin: 1em 0;
  h2 {
    margin: 0;
  }
  .profile-picture {
    grid-column: 1;
    grid-row: 1/5;
    height: 9em;
    width: auto;
    border-radius: 50%;
  }
  p {
    margin: 0;
    margin-bottom: 2em;
  }
  a {
    width: fit-content;
  }
}

.active-dialog {
  transform: translateY(0);
  opacity: 1;
}

.active-dialog::backdrop {
  background: rgb(75 59 40 / 63%);
}

#close-dialog {
  display: flex;
  align-items: center;
  margin: 1em;
  padding: 0.6em;
  font-size: 1.1em;
}

@media screen and (min-width: 900px) {
  :root {
    font-size: 17px;
  }

  .loading-header h1 {
    width: fit-content;
    border-bottom-right-radius: var(--border-radius);
  }

  main {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header"
      "map info";
  }

  .hero-wrapper {
    grid-area: header;
    background-color: #ffebeb;
  }

  #container {
    grid-area: map;
  }

  .carousel {
    width: 20em;
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-area: info;
  }

  .card {
    min-height: 12em;
    min-width: inherit;
    .restaurant-preview {
      height: 6em;
    }
    p {
      margin: 0;
    }
  }

  dialog {
    height: 80vh;
    width: 90vw;
    max-width: 1000px;
  }
}

// change background color to match topmost element for more immersive experience on mobiles with a notch
/* animate body's background color to change from blue to beige */
html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body,
html {
  overflow: hidden;
}

// looped function to animate in the paths of the SVG piece by piece
// start all children of loading page as out of place
#loading svg path,
.loading-header * {
  opacity: 0;
  transform: translateY(-5em);
}
