body {
  background-color: #f8e3d1;
}

svg {
  height: 100vh;
  width: -webkit-fill-available;
}

/* Static display all map locations */
path.point-of-interest {
  stroke-width: 2px;
  stroke-dasharray: 4;
  animation: pulse 1s ease infinite alternate;
}

@keyframes pulse {
  from {
    transform: translate(0%, 0%) scale(1);
    stroke: #1d59ad;
  }
  to {
    transform: scale(1.1) translate(-33.4px, -30.8px);
    stroke: #499ccf;
  }
}

/* @keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
} */

/* @keyframes translate {
  from {
    transform: translate(0);
    stroke: blue;
  }
  to {
    transform: translate(-20%, -20%);
    stroke: red;
  }
} */
