:root {
  --main-theme: #f8e3d1;
}

body {
  background-color: var(--main-theme);
}

svg {
  height: 100vh;
  width: -webkit-fill-available;
}

/* Static display all map locations */
.point-of-interest {
  stroke-width: 2px;
  stroke-dasharray: 4;
  animation: pulse 1s ease infinite alternate;
  transition: all ease 0.2s;
}

.point-of-interest:hover {
  cursor: pointer;
  animation-play-state: paused;
  stroke-width: 4px;
  stroke-dasharray: 7;
}

@keyframes pulse {
  from {
    transform: translate(0%, 0%) scale(1);
    stroke: #1d59ad;
  }
  to {
    transform: scale(1.1) translate(-33.4px, -30.8px);
    stroke: #499ccf;
  }
}

dialog {
  position: absolute;
  top: 0;
  width: 90vw;
  height: 90vh;
  background: var(--main-theme);
  transition: all ease 2s;
}

dialog::backdrop {
  background: #ffffffa8;
}
