<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/functionalStyles.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <!-- Social tags -->
    <!-- Primary Meta Tags -->
    <title>La Carte Gourmande</title>
    <meta name="title" content="La Carte Gourmande" />
    <meta
      name="description"
      content="10 adresses pour se régaler à Caen! Trouvez votre prochain bar préféré."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://caen-map.netlify.app/" />
    <meta property="og:title" content="La Carte Gourmande" />
    <meta
      property="og:description"
      content="10 adresses pour se régaler à Caen! Trouvez votre prochain bar préféré."
    />
    <meta property="og:image" content="/assets/photos/site-preview.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://caen-map.netlify.app/" />
    <meta property="twitter:title" content="La Carte Gourmande" />
    <meta
      property="twitter:description"
      content="10 adresses pour se régaler à Caen! Trouvez votre prochain bar préféré."
    />
    <meta property="twitter:image" content="/assets/photos/site-preview.png" />
  </head>

  <body>
    {{ content | safe }}
  </body>

  <script type="text/javascript" src="/assets/JavaScript/main.js"></script>
  <script
    type="text/javascript"
    src="/assets/JavaScript/svg-pan-zoom.min.js"
  ></script>
  <script>
    // Don't use window.onLoad like this in production, because it can only listen to one function.
    window.onload = function () {
      // Expose to window namespase for testing purposes
      window.zoomTiger = svgPanZoom("#map-of-caen", {
        zoomEnabled: true,
        controlIconsEnabled: false,
        fit: true,
        center: true,
        // viewportSelector: document.getElementById('demo-tiger').querySelector('#g4') // this option will make library to misbehave. Viewport should have no transform attribute
      });
    };
  </script>
  <script
    type="text/javascript"
    src="/assets/JavaScript/hammer.min.js"
  ></script>
</html>
