<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>

  <body>
    {{ content | safe }}
  </body>

  <!-- <script type="text/javascript" src="/assets/main.js"></script> -->
  <script type="text/javascript" src="/assets/svg-pan-zoom.min.js"></script>
  <script>
    // Don't use window.onLoad like this in production, because it can only listen to one function.
    window.onload = function () {
      // Expose to window namespase for testing purposes
      window.zoomTiger = svgPanZoom("#map-of-caen", {
        zoomEnabled: true,
        controlIconsEnabled: false,
        fit: true,
        center: true,
        // viewportSelector: document.getElementById('demo-tiger').querySelector('#g4') // this option will make library to misbehave. Viewport should have no transform attribute
      });
    };
  </script>
</html>
