<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>

  <body>
    {{ content | safe }}
  </body>

  <script type="text/javascript" src="assets/main.js"></script>
</html>
