#loading svg path,
header * {
  opacity: 0;
  transform: translateY(-5em);
}

// add animation to all SVG paths
@for $i from 1 through 250 {
  // only for paths which are sequentially even children of the SVG
  @if $i % 2 == 0 {
    #loading svg path:nth-child(#{$i}) {
      animation: animateIn ease forwards;
      animation-delay: #{$i * 0.08 + 0.5}s;
      animation-duration: 0.2s;
      transform-origin: center;
    }
  }
  #loading svg path:nth-child(#{$i}) {
    animation: animateIn ease forwards;
    animation-delay: #{$i * 0.04 +0.5}s;
    animation-duration: 0.2s;
    transform-origin: center;
  }
}

@for $i from 1 through 2 {
  header *:nth-child(#{$i}) {
    animation: animateIn 1.5s ease forwards;
    animation-delay: #{$i * 0.3}s;
    transform-origin: center;
  }
}

@keyframes animateIn {
  0% {
    transform: translateY(-5em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
