// change background color to match topmost element for more immersive experience on mobiles with a notch
/* animate body's background color to change from blue to beige */
body,
html {
  background-color: beige;
  animation: change-color 5.05s ease;
}

// creat change color animation
@keyframes change-color {
  0% {
    background-color: #e0ffff;
  }
  99% {
    background-color: #e0ffff;
  }
  100% {
    background-color: beige;
  }
}

// looped function to animate in the paths of the SVG piece by piece
// start all children of loading page as out of place
#loading svg path,
.loading-header * {
  opacity: 0;
  transform: translateY(-5em);
}

// add animation to all SVG paths
@for $i from 1 through 250 {
  // only for paths which are sequentially even children of the SVG
  @if $i % 2 == 0 {
    #loading svg path:nth-child(#{$i}) {
      animation: animateIn ease forwards;
      animation-delay: #{$i * 0.08 + 0.5}s;
      animation-duration: 0.2s;
      transform-origin: center;
    }
  }
  #loading svg path:nth-child(#{$i}) {
    animation: animateIn ease forwards;
    animation-delay: #{$i * 0.04 +0.5}s;
    animation-duration: 0.2s;
    transform-origin: center;
  }
}

@for $i from 1 through 2 {
  .loading-header *:nth-child(#{$i}) {
    animation: animateIn 1.5s ease forwards;
    animation-delay: #{$i * 0.3}s;
    transform-origin: center;
  }
}

@keyframes animateIn {
  0% {
    transform: translateY(-5em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
